@page
@model BankApp.Pages.AccountDB.DepositModel

<h1>Deposit</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="Amount">Amount</label>
        <input class="form-control" asp-for="Amount" />
        <span class="field-validation-error" asp-validation-for="Amount"></span>
    </div>
    <div class="form-group">
        <label asp-for="Type">Type</label>
        <select class="form-control"
                asp-for="Type"
                asp-items="@Model.Types">
        </select>
        <span asp-validation-for="Type" class="field-validation-error"></span>
    </div>
    <div class="form-group">
        <label asp-for="Operation">Operation</label>
        <input type="text" class="form-control" asp-for="Operation" />
        <span class="field-validation-error" asp-validation-for="Operation"></span>
    </div>

    <button type="submit" class="btn btn-primary">Withdraw</button>
</form>

<a class="btn btn-info btn-split"
   asp-page="/AccountDB/Index">
    <span class="icon">
        <i class="fa-solid fa-arrow-left"></i>
    </span>
    <span class="text">
        Back to List
    </span>
</a>

@section Scripts
{
    <partial name="Shared/_ValidationScriptsPartial" />
}
