@page
@model BankApp.Pages.CustomerDB.CreateNewModel


<div class="card">
    <div class="card-header">
        <h1>New Customer</h1>
    </div>
    <div class="card-body">
        <form method="post">


            <div class="form-group">
                <label asp-for="CustomerToCreate.Givenname">First name</label>
                <input class="form-control" asp-for="CustomerToCreate.Givenname">
                <span asp-validation-for="CustomerToCreate.Givenname" class="field-validation-error"></span>
            </div>

            <div class="form-group">
                <label asp-for="CustomerToCreate.Surname">Last name</label>
                <input class="form-control" asp-for="CustomerToCreate.Surname">
                <span asp-validation-for="CustomerToCreate.Surname" class="field-validation-error"></span>
            </div>


            <div class="form-group">
                <label asp-for="CustomerToCreate.Gender">Gender</label>
                <select class="form-control" asp-for="CustomerToCreate.Gender" asp-items="@Model.Genders">
                </select>
                <span asp-validation-for="CustomerToCreate.Gender"
                      class="field-validation-error"></span>
            </div>


            <div class="form-group">
                <label asp-for="CustomerToCreate.Streetaddress">Street Address</label>
                <input class="form-control" asp-for="CustomerToCreate.Streetaddress">
                <span asp-validation-for="CustomerToCreate.Streetaddress" class="field-validation-error"></span>
            </div>



            <div class="form-group">
                <label asp-for="CustomerToCreate.City">City</label>
                <input class="form-control" asp-for="CustomerToCreate.City">
                <span asp-validation-for="CustomerToCreate.City" class="field-validation-error"></span>
            </div>

            <div class="form-group">
                <label asp-for="CustomerToCreate.Zipcode">Zip code</label>
                <input class="form-control" asp-for="CustomerToCreate.Zipcode">
                <span asp-validation-for="CustomerToCreate.Zipcode" class="field-validation-error"></span>
            </div>


            <div class="form-group">
                <label asp-for="CountryId">Country</label>
                <select class="form-control"
                        asp-for="CountryId"
                        asp-items="@Model.Countries">
                </select>
                <span asp-validation-for="CountryId" class="field-validation-error"></span>
            </div>


            <div class="form-group">
                <label asp-for="CustomerToCreate.Birthday">Birthday</label>
                <input class="form-control" asp-for="CustomerToCreate.Birthday">
                <span asp-validation-for="CustomerToCreate.Birthday" class="field-validation-error"></span>
            </div>

            <div class="form-group">
                <label asp-for="CustomerToCreate.NationalId">National Id</label>
                <input class="form-control" asp-for="CustomerToCreate.NationalId">
                <span asp-validation-for="CustomerToCreate.NationalId" class="field-validation-error"></span>
            </div>



            <div class="form-group">
                <label asp-for="CustomerToCreate.Telephonecountrycode">Telephone country code</label>
                <input class="form-control" asp-for="CustomerToCreate.Telephonecountrycode">
                <span asp-validation-for="CustomerToCreate.Telephonecountrycode" class="field-validation-error"></span>
            </div>

            <div class="form-group">
                <label asp-for="CustomerToCreate.Telephonenumber">Telephone number</label>
                <input class="form-control" asp-for="CustomerToCreate.Telephonenumber">
                <span asp-validation-for="CustomerToCreate.Telephonenumber" class="field-validation-error"></span>
            </div>

            <div class="form-group">
                <label asp-for="CustomerToCreate.Emailaddress">Email address</label>
                <input class="form-control" asp-for="CustomerToCreate.Emailaddress">
                <span asp-validation-for="CustomerToCreate.Emailaddress" class="field-validation-error"></span>
            </div>


            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts
                {
    <partial name="Shared/_ValidationScriptsPartial" />
}
