@page
@model BankApp.Pages.CustomerDB.EditModel

<div class="card">
    <div class="card-header">
        <h1>Edit person</h1>
    </div>
    <div class="card-body">
        <form method="post">
            <div class="form-group">
                <label asp-for="UpdatedCustomerInfo.Givenname">First name</label>
                <input class="form-control" asp-for="UpdatedCustomerInfo.Givenname">
                <span asp-validation-for="UpdatedCustomerInfo.Givenname" class="field-validation-error"></span>
            </div>

            <div class="form-group">
                <label asp-for="UpdatedCustomerInfo.Surname">Last name</label>
                <input class="form-control" asp-for="UpdatedCustomerInfo.Surname">
                <span asp-validation-for="UpdatedCustomerInfo.Surname" class="field-validation-error"></span>
            </div>

            <div class="form-group">
                <label asp-for="UpdatedCustomerInfo.Gender">Gender</label>
                <select class="form-control" asp-for="UpdatedCustomerInfo.Gender" asp-items="@Model.Genders">
                </select>
                <span asp-validation-for="UpdatedCustomerInfo.Gender"
                      class="field-validation-error"></span>
            </div>

            <div class="form-group">
                <label asp-for="UpdatedCustomerInfo.Streetaddress">Street Address</label>
                <input class="form-control" asp-for="UpdatedCustomerInfo.Streetaddress">
                <span asp-validation-for="UpdatedCustomerInfo.Streetaddress" class="field-validation-error"></span>
            </div>

            <div class="form-group">
                <label asp-for="UpdatedCustomerInfo.City">City</label>
                <input class="form-control" asp-for="UpdatedCustomerInfo.City">
                <span asp-validation-for="UpdatedCustomerInfo.City" class="field-validation-error"></span>
            </div>

            <div class="form-group">
                <label asp-for="UpdatedCustomerInfo.Zipcode">Zip code</label>
                <input class="form-control" asp-for="UpdatedCustomerInfo.Zipcode">
                <span asp-validation-for="UpdatedCustomerInfo.Zipcode" class="field-validation-error"></span>
            </div>

            <div class="form-group">
                <label asp-for="CountryId">Country</label>
                <select class="form-control"
                        asp-for="CountryId"
                        asp-items="@Model.Countries">
                </select>
                <span asp-validation-for="CountryId" class="field-validation-error"></span>
            </div>

            <div class="form-group">
                <label asp-for="UpdatedCustomerInfo.Birthday">Birthday</label>
                <input class="form-control" asp-for="UpdatedCustomerInfo.Birthday">
                <span asp-validation-for="UpdatedCustomerInfo.Birthday" class="field-validation-error"></span>
            </div>

            <div class="form-group">
                <label asp-for="UpdatedCustomerInfo.NationalId">National Id</label>
                <input class="form-control" asp-for="UpdatedCustomerInfo.NationalId">
                <span asp-validation-for="UpdatedCustomerInfo.NationalId" class="field-validation-error"></span>
            </div>

            <div class="form-group">
                <label asp-for="UpdatedCustomerInfo.Telephonecountrycode">Telephone country code</label>
                <input class="form-control" asp-for="UpdatedCustomerInfo.Telephonecountrycode">
                <span asp-validation-for="UpdatedCustomerInfo.Telephonecountrycode" class="field-validation-error"></span>
            </div>

            <div class="form-group">
                <label asp-for="UpdatedCustomerInfo.Telephonenumber">Telephone number</label>
                <input class="form-control" asp-for="UpdatedCustomerInfo.Telephonenumber">
                <span asp-validation-for="UpdatedCustomerInfo.Telephonenumber" class="field-validation-error"></span>
            </div>

            <div class="form-group">
                <label asp-for="UpdatedCustomerInfo.Emailaddress">Email address</label>
                <input class="form-control" asp-for="UpdatedCustomerInfo.Emailaddress">
                <span asp-validation-for="UpdatedCustomerInfo.Emailaddress" class="field-validation-error"></span>
            </div>

            <button type="submit" class="btn btn-primary">Update</button>
        </form>

        <a class="btn btn-info btn-split"
           asp-page="/CustomerDB/Index">
            <span class="icon">
                <i class="fa-solid fa-arrow-left"></i>
            </span>
            <span class="text">
                Back to List
            </span>
        </a>
    </div>
</div>

@section Scripts
{
    <partial name="Shared/_ValidationScriptsPartial" />
}
