@model BankTemplateInclDataAccessLayer.ViewModels.CountryBoxViewModel


<div class="card"
    <div class="container">
        <span class="fi fi-@Model.CountryCode.ToLower()" class="hero-image"></span>

        <div class="card-body">

            <div>Customers: @Model.Customers.Count()</div>

            <div>Accounts: @Model.Accounts.Count()</div>

            <div>Customers: @Model.BalanceSum</div>


            <a href="#" class="btn btn-primary">View</a>

        </div> <!-- end information -->
    </div> <!-- end container -->
</div>
