@model BankApp.ViewModels.CountryBoxViewModel


<div class="card">
    <div class="container">
        <div class="card-header">
			<h1>@Model.CountryName</h1>

            <i class="fi fi-@Model.CountryCode.ToLower()"></i>
        </div>

        <div class="card-body">

            <div>Customers: @Model.Customers.Count()</div>

            <div>Accounts: @Model.Accounts.Count()</div>

            <div>Total balance: @Model.BalanceSum</div>


            <a class="btn btn-primary"
               asp-page="/Countries/CountryImage" 
               asp-route-countryId=@Model.CountryId>
                View
            </a>

        </div> 
        <!-- end of information -->
    </div> 
    <!-- end of container -->
</div>
<!-- end of card -->